@charset "UTF-8";
@import url("https://code.s3.yandex.net/web-code/normalize.css");

@font-face {
  font-family: "PTSans";
  src: url("https://code.s3.yandex.net/web-code/fonts/PTSans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("https://code.s3.yandex.net/web-code/fonts/PTSans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.page {
  min-width: 320px;
  font-family: "PTSans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.05px;
  color: black;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
}

.page__content {
  max-width: 1024px;
  padding: 30px 15px;
}

.button {
  border: none;
  outline: none;
  padding: 0;
}

.classic-button {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.4px;
  background-color: #de494e;
  border: none;
  padding: 13px 10px;
  cursor: pointer;
  transition: .3s;
}

.classic-button:hover {
  color: #de494e;
  background-color: #ffffff;
}

.filter {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 15px;
}

.filter__button {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6d7bd;
  transition: 0.3s;
  margin: 0px 6.5px;
}

.filter__button:hover {
  background-color: #f3f3f3;
}

.filter__button_type_grid {
  background-image: url("https://code.s3.yandex.net/web-code/oop/type2.png");
  -webkit-background-size: 18px;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.filter__button_type_column {
  background-image: url("https://code.s3.yandex.net/web-code/oop/type1.png");
  background-position: center;
  -webkit-background-size: 20px 16px;
  background-size: 20px 16px;
  background-repeat: no-repeat;
}

.heading__title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.9px;
}

.card-list__items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -8px;
  padding-bottom: 59px;
}

.card {
  width: calc(100% / 4 - 16px);
  padding: 27px 16px;
  display: flex;
  flex-direction: column;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 7px 7px 44px 5px rgba(180, 180, 180, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 8px;
}

.card_content_horizontal {
  width: 100%;
  flex-direction: row;
}

.card__image {
  width: 156px;
  height: 156px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 0 auto;
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__button {
  margin-top: 10px;
}

.card__span-accent {
  font-weight: 700;
}

.card__price-property {
  font-size: 18px;
  color: #de494e;
}

.card__title {
  color: #121514;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.58px;
  margin: 12px 0 7px;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s, opacity 0.6s;
  z-index: 10;
}

.popup__content {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url("https://code.s3.yandex.net/web-code/oop/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -36px;
  right: -34px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: visibility 0s, opacity 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 834px) {
  .card {
    width: calc(100% / 3 - 16px);
  }

  .card_content_horizontal {
    width: 100%;
  }
}

@media screen and (max-width: 626px) {
  .card {
    width: calc(100% / 3 - 8px);
    padding: 15px 10px;
    margin: 4px;
  }

  .card_content_horizontal {
    width: 100%;
  }

  .card-list__items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -4px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 588px) {
  .card {
    width: calc(100% / 2 - 8px);
  }

  .card_content_horizontal {
    width: 100%;
  }

  .card__image {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: calc(100% / 1 - 8px);
  }

  .card_content_horizontal {
    width: 100%;
    flex-direction: column;
  }
}
