html, body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  input, button {
    border: none;
  }
  
  .header {
    max-width: 468px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    width: 150px;
  }
  
  .header__logo-sub {
    margin-left: 10px;
    margin-bottom: 25px;
    font-size: 0.6em;
  }
  
  .container {
    max-width: 468px;
    margin: auto;
  }
  
  .cover {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .cover__image {
    width: 110px;
    min-width: 110px;
    height: 110px;
    background-image: url(https://code.s3.yandex.net/web-code/dom/cover.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  
  .cover__heading {
    margin-left: 30px;
    font-size: 2.5em;
    line-height: 1;
  }
  
  .block {
    margin-top: 60px;
    border-radius: 3px;
  }
  
  h3 {
    font-weight: bold;
  }
  
  .input {
    display: flex;
    justify-content: space-between;
  }
  
  .input__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .input__text {
    font-size: 0.8em;
    width: 150px;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .input__elem_text::placeholder {
    color: #d3d3d3;
  }
  
  .input__btn {
    font-size: 0.8em;
    width: 150px;
    height: 50px;
    background-color: #ffdb4d;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .input__btn_disabled {
    background-color: #f1f1f1;
    cursor: default;
  }
  
  .no-songs {
    height: 70px;
    display: flex;
  }
  
  .no-songs_hidden {
    display: none;
  }
  
  .no-songs__text {
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    color: #d3d3d3;
  }
  
  .song {
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0 10px;
  }
  
  .song__artist {
    margin-right: 10px;
  }
  
  .song__like {
    border: none;
    background: url(https://code.s3.yandex.net/web-code/dom/heart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .song__like:hover {
    transform: scale(1.3);
  }
  
  .song__like_active {
    opacity: 1;
    background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
  }
  